<h1>My bookings</h1>

<h2>My geeks</h2>
<% @my_geeks.each do |geek| %>
  <p><%= geek.offer.user.first_name %> <%= geek.offer.user.last_name %></p>
  <p><%= geek.offer.title %></p>
  <p><%= geek.offer.description %></p>
  <p>Reserved for: <%= geek.offer.date%></p>
<% end %>

<h2>My missions</h2>
<% @my_missions.each do |mission| %>
    <% if mission.offer.user.id == current_user.id %>
    <p>You will be working for <%= mission.user.first_name %> <%= mission.user.last_name %></p>
    <p>On <%= mission.offer.date %></p>
  <% end %>
<% end %>
