<div class="container mt-4 mt-md-5">
<h1 style="color:#F0544F">My bookings</h1>
  <div class="row">
    <div class="col-md-6">
      <h2 style="color:#F0544F">My geeks</h2>
      <% @my_geeks.each do |geek| %>
        <div class="card mb-3" style="width: 18rem;">
          <%= cl_image_tag geek.offer.user.photo.key %>
          <div class="image-elements">
            <h5 style="color:#A8DDCE"><%= geek.offer.user.first_name %> <%= geek.offer.user.last_name %></h5>
            <p><%= geek.offer.title %></p>
            <p><%= geek.offer.description %></p>
            <p>Reserved for: <%= geek.offer.date %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2 class="mt-4 mt-md-0" style="color:#F0544F">My missions</h2>
      <% @my_missions.each do |mission| %>
        <% if mission.offer.user.id == current_user.id %>
          <div class="card mb-3">
            <div class="card-header">
              You will be working for
            </div>
            <div class="card-body">
              <h5 class="card-title" style="color:#A8DDCE"><%= mission.user.first_name %> <%= mission.user.last_name %></h5>
              <p class="card-text">
                On <%= mission.offer.date %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
