<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://annuelauto.ca/wp-content/uploads/2018/07/Small-7765-McLaren720S-AzoresOrange.jpg);">
  <div class="container">
    <h1 style="color: #F0544F; font-weight: bold;">Trouvez la voiture qui vous conviens</h1>
    <p style="color: #A8DDCE; ">Ce site propose à des particuliers de mettre en location leur voiture</p>
  </div>
</div>

 <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Trouver une voiture"
        %>
      <%= submit_tag "Rechercher", name: "", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
      <div class="btn-new" style="width: 18rem;">
        <%= link_to "Mettez votre voiture en location", "/offers/new", class:"btn btn-danger", id:"btn-new"%>
      </div>

<div class="cards m-auto">
  <% @offers.each do |offer|%>
    <div class="card mx-5" style="width: 18rem;">
      <%= cl_image_tag(offer.user.photo.key, :height=>300, :width=>300, :crop=>"fill")%>
      <div class="image-elements">
        <h2 class="orange-text"><%= offer.model %></h2>
        <h5><i class="fa-solid fa-location-dot"></i><%= offer.localisation %></h5>
        <p class="card-text blue-text font-weight-bold"><%= offer.date %></p>
        <hr class="mb-0">
      </div>
      <div class="card-body mt-0 pt-0">
        <div class="title">
          <h5 class="card-title blue-text";><%= offer.title %></h5>
        </div>
        <p class="card-text description-text"><%= offer.brand %></p>
        <p>Prix journalier: <%= offer.price_per_day %>€</p>
    </div>
          <div class="btn-view-offer">
          <%= link_to "Voir l'offre", offer_path(offer), class:"btn btn-danger d-block" %>
            <!-- <div class="heart">
              <i class="fa-regular fa-heart"></i>
            </div>-->
          </div>
        </div>
  <% end %>
</div>

<h2 class="center-title blue-text my-5">Trouver une voiture près de chez vous</h2>

<div style="width: 80%; height: 600px; margin-left: 170px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
