<div class="container mt-5">
  <h1 style="color:#F0544F" class="text-center">My offers</h1>
  <div class="cards mt-5">
    <% @my_offers.each do |offer| %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag offer.user.photo.key %>
        <div class="image-elements">

          <h2><%= offer.user.first_name %> <%= offer.user.last_name %></h2>
          <h5><i class="fa-solid fa-location-dot"></i><%= offer.localisation %></h5>

          <hr>
        </div>
        <div class="card-body">
          <p>Price: <%= offer.price %>€</p>

          <div class="title">
            <h5 class="card-title"><%= offer.title %></h5>
          </div>
          <p class="card-text"><%= offer.description %></p>
      </div>
            <div class="btn-view-offer">
            <%= link_to "View offer", offer_path(offer), class: "btn btn-danger" %>
              <div class="date">
                <%= offer.date %>
              </div>
              <div class="heart">
                <i class="fa-regular fa-heart"></i>
              </div>
            </div>
          </div>
    <% end %>
  </div>
</div>
