<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1 style="color: #F0544F; font-weight: bold;">My offers</h1>
    <h2 style="color: #A8DDCE;">Browse all your offers</h2>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="row">
      <% @my_offers.each do |offer| %>
        <div class="col-md-12 mb-2">
          <div class="card mb-3 p-3" style="max-width: 700px;">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
                  <%= cl_image_tag(offer.user.photo.key, :height => 300, :width => 300, :crop => "fill", :class => "img-fluid rounded-start") %>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body" style="padding-left: 20px;">
                  <h5 class="card-title orange-text"><%= offer.title %></h5>
                  <p class="card-text blue-text font-weight-bold"><%= offer.date %></p>
                  <p><%= offer.user.first_name %> <%= offer.user.last_name %></p>
                  <p><i class="fa-solid fa-location-dot"></i> <%= offer.localisation %></p>
                  <hr>
                  <p>Price per day: <%= offer.price %>€</p>
                  <p class="card-text"><%= offer.description %></p>
                </div>
              </div>
            </div>
          </div>
          <%= link_to "View offer", offer_path(offer), class: "btn btn-sm btn-danger d-block mt-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
