<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1 style="color: #F0544F; font-weight: bold;">Become a geek!</h1>
    <h2 style="color: #A8DDCE; ">Create your dev offer. </h2>
  </div>
</div>

<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col"></div>
    <%= simple_form_for @offer do |f| %>
  <%= f.input :title, label: 'Offer Title',
               hint: 'Shortly describe the service you would like to provide' %>
  <%= f.input :description, label: 'Job Description' %>
  <%= f.input :price, label: 'Price in Euro' %>
  <%= f.input :date, label: 'Availability date',
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :experience, label: 'Years of Experience' %>
  <%= f.input :profession, label: 'Your job title' %>
  <%= f.input :localisation, label: 'Location' %>
  <%= f.submit "Become a geek!", class: "btn btn-danger" %>
  <% end %>
  </div>
</div>
<%= render 'form', offer: @offer %>
