

<div class="container mt-5 pb-5">
  <%= link_to "Retour", offers_path, class: "btn btn-primary" %>
  <div class="row d-flex align-items-start">
    <div class="col-md-4">
      <!-- Photo on the left -->
      <div class="bg-white pt-3 px-3 pb-5 shadow rounded border border-gray-800">
        <img src="<%= cl_image_path(@offer.user.photo.key, height: 600, width: 500, crop: :fill) %>" alt="User Photo" class="img-fluid rounded">
      </div>
      <% if @offer.reviews.present? %>
        <div class="bg-white shadow rounded border border-gray-800 mt-3 p-3">
          <h2 class="blue-text">Avis</h2>
            <% @offer.reviews.each do |review| %>
            <div class="d-flex justify-content-between">
              <p><strong><%= review.name %></strong></p>
              <p><%= review.rating %></p>
            </div>
            <p><%= review.comment %></p>
            <% end %>
        </div>
       <% end %>
    </div>

    <div class="col-md-8">
      <!-- Text on the right -->
      <div class="card shadow p-4">
        <h2 class="name-text"><%= @offer.model %></h2>
        <h3 class="blue-text mb-4"><%= @offer.title%> </h3>
        <h3 class="blue-text">Model </h3>
        <p><%= @offer.brand %></p>
        <h3 class="blue-text">Année de construction 💡</h3>
        <p><%= @offer.year_of_production %></p>
        <h3 class="blue-text">Disponibilité 📅</h3>
        <p>Du <%= @offer.date %></p>
        <h3 class="blue-text">Localisation 🌎</h3>
        <p><%= @offer.localisation %></p>
        <h3 class="blue-text">Prix/jour 💰</h3>
        <p><%= @offer.price_per_day %>€ / jour</p>
          <div class="d-flex justify-content-end">
            <div>
              <% if @offer.user != current_user %>
                <%= link_to "Louer cette voiture", offer_create_booking_path(offer_id: @offer.id), class: "btn btn-danger"%>
              <% elsif @offer.user == current_user %>
                <%= link_to "Modifier votre offre", edit_offer_path(@offer), class: "btn btn-danger"%>
                <%= link_to "Supprimer votre offre",
                  offer_path(@offer),
                  class: "btn btn-danger",
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
                %>
              <% end %>
            </div>
          </div>
      </div>
  </div>
</div>
    </div>
  </div>
</div>
</div>
